/* ./resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@200;400&display=swap');
* {
  font-family: 'K2D';
}

.button-primary {
  @apply p-2 flex justify-center bg-yellow-300 text-yellow-700 hover:text-yellow-700 hover:bg-yellow-400 text-xl rounded-lg;
}
